<!-- <div *ngFor="let event of data | async"> -->

<!--
  <div class="row">
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  </div>
-->

<div class="container-fluid">
  <div class="row">
    <div
      class="col-lg-4 cardW cardiac"
      *ngFor="let event of data; let i = index"
    >
      <div class="card">
        <div class="card-body cardBody">
          <h4 class="card-header cardc card-title">
            {{ event.eventName | uppercase }}
          </h4>
          <p class="card-text">
            Description:{{ event.eventDescription }}<br />
            Duration:{{ event.eventDuration }}hrs<br />
            Location:{{ event.eventLocation }}<br />
            Fees:{{ event.eventFees | currency: "&#8377;" }}<br />
          </p>
          <div class="card-footer cardc">
            created by: {{ event.user.email }}

            <div *ngIf="event.registerUser.length > 0">
              Registered User: {{ event.registerUser.length }}
            </div>
            <div>
              <button
                *ngIf="event.user._id === user"
                (click)="editEvent(i)"
                type="button"
                class="btn btn-info btn-small btn-space"
              >
                Edit Event
              </button> 
              <button
                *ngIf="event.user._id === user"
                type="button"
                class="btn btn-info btn-small"
              >Delete Event</button>
              <button
                *ngIf="!(event.user._id === user)"
                type="button"
                class="btn btn-info btn-small"
                (click)="registerUser(i)"
              >
                Register
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  <div class="card-deck row">
  <div class="card col-6 col-md-4">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">{{event.eventName}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
-->
<!--
  <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{event.eventDescription}}
          {{event.eventDuration}}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{event.eventLocation}}
          {{event.eventFees}}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
-->

<!--
  <div class="offset-sm-3 col-lg-6 cardiac" >
      <div class="card-deck">
          <div class="card cardc">
              <div class="card-body">
                   <div class="card-title" *ngIf="!!item.bill||!!item.amount"><h2>Lead Customers</h2></div>
                  <div class="card-title" *ngIf="item.bill||item.amount"><h2>Normal Customers</h2></div>

                      <div><h3>Event Name:{{event.eventName}}</h3></div>
                      <div><h3>Description:{{event.eventDescription}}</h3></div>
                      <div><h3>Duration:{{event.eventDuration}}</h3></div>
                      <div><h3>Locaiton:{{event.eventLocation}}</h3></div>
                      <div><h3>Fees:{{event.eventFees}}</h3></div>
              </div>
          </div>
      </div>
  </div>
-->
<!-- </div> -->
